body {
  margin: 0;
}
h1{
  font-family: 'Fugaz One', cursive;
  font-size: 40px;
}
.logo {
  height: 100px;
}
header {
  background-color: #3a2d32;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 15px 15px;
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 25px 15px;
  background-image: url(../images/heroimage3.png);
}
.heroflex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bioimage{
  height: 225px;
  border-radius: 15px;
}
.content {
  max-width: 30%;
  min-height: 200px;
  margin: 0 auto;
  padding: 50px;
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 22px;
  font-family:'Montserrat', sans-serif;
}
button {
  padding: 15px;
  background-color: #5b794a;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  border: 0;
}
button:hover{
  background-color: #619e3d;
}
button:active{
  background-color: #619e3d;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}
footer {
  background-color: #3a2d32;
  padding: 5px;
  color: white;
  position: static;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
}
.heading {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family:'Fugaz One', cursive;
  background-color: #3a2d32;
  color: white;
}
/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  background-color: #3a2d32;
  color: white;
  justify-content: center;
  align-items: center;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
  font-family:'Montserrat', sans-serif;
  font-size: 22px;
  ;
}

/* My Work Section */
.myWork {
  margin: 0;
  padding: 60px 30px;
  padding-top: 0;
  background-color: #3a2d32f5;
  color: white;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.headingwork {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Fugaz One', cursive;
  color: white;
}
.workGrid img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
  font-size: 22px;
  font-family:'Montserrat', sans-serif;
}
.content2 {
  grid-area: content2;
  font-size: 22px;
  font-family:'Montserrat', sans-serif;
}
.content3 {
  grid-area: content3;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
.workimg{
  border-radius: 10px;
}

/* Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #3a2d32f5;
  margin: auto;
  padding: 20px;
  border: 0px ;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* hw19 */
@media only screen and (max-width: 600px){
  .flexContainer div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .workGrid{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "img1"
                          "content1"
                          "img2"
                          "content2"
                          "img3"
                          "content3";

  }
}